.carted-item-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,400px));
    grid-gap: 1rem;
    justify-content: center;
}

.carted-item-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    padding: 1rem;
    border-radius: 3px;
    height: 250px;
}

.carted-item-image {
    height: 100%;
    overflow: hidden;
}

.carted-item-image img {
    width: 100%;
    height: 100%;
}

.carted-item-info {
    height: 100%;
    overflow: hidden;
    padding: 1rem;
}


.no-items-in-cart-image {
    width: 100%;
    max-width: 800px;
    display: block;
    margin: auto;
}

.taggy-title-container{
    display: flex;
    justify-content: space-between;
}
.taggy-title-container .normal-back{
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    font-size: 2rem;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* order now bottom styles */

.order_now_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}