.auth-main-container {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.auth-main-container .large-title {
    text-align: center;
    margin-bottom: 50px;
    font-size: 3rem;

}

.auth-container {
    display: grid;
    grid-template-columns: 1fr 1.4fr;
    place-items: center;
}

@media (max-width:700px) {
    .auth-img {
        display: none;
    }

    .auth-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .auth-main-container .large-title {
        text-align: center;
        margin-bottom: 50px;
        font-size: 3rem;
        width: 80vw;
    }    
}
.auth-img lottie-player {
    max-width: 500px;
}
.auth-form{
    box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    padding: 1rem 2rem;
}
.auth-container input {
    margin-top: 10px;
}

.auth-container input:focus {
    box-shadow: none;
}

.auth-container button {
    margin: 10px 0px;
}

.auth-container button:focus {
    box-shadow: none;
}