@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;900&family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto:wght@300;400;500;700&family=Varela+Round&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family:'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


html{
  --hover-btn:rgb(118, 118, 118);
  --text-color:rgb(221, 219, 219);
  --primary:#292727;
}

a{
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.2rem;
  margin: .5rem;
}

a:hover{
  color: var(--text-color);
}

.red-title{
  color: red;
  font-weight: 500;
  margin-top: 5px;
}
.black-title{
  color: black;
  font-weight: 500;
}

.black-title-lg{
  color: black;
  font-size: 1.5rem;
  font-weight: 500;
}